.login-container {
    height: 100dvh;
    width: 100%;
}

.login-main {
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-main input {
    height: 40px;
    border-radius: 12px;
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-icon {
    height: 30px;
    width: 30px;
}