.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.main {
    display: flex;
    gap: 40px;
}

.budget-form,
.expense-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px dotted;
  padding: 25px;
}

.budget-and-expense {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.budgets,
.expenses {
  width: 45%;
}

.expenses table {
  width: 100%;
}

.expenses table th,
.expenses table td {
  padding: 5px 10px;
}

.expenses table th {
  text-align: left;
}

.expenses table td:last-child {
  text-align: center;
}

button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.first-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
  }